<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <script src="main.js" type="text/javascript" defer></script>
    <title>Pluvia</title>
</head>

<body>
    <main>
        <div id="card">
            <h1>
                Pluvia
            </h1>
            <h4>
                Te alertando das enchentes
            </h4>
            <form action="">
                <label for="telefone">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" placeholder="(01) 23456-7890" required>

                <fieldset>
                    <legend>Como deseja receber os alertas?</legend>
                    <label>
                        <input type="checkbox" name="alerta" value="sms">
                        SMS
                    </label>
                    <label>
                        <input type="checkbox" name="alerta" value="whatsapp">
                        WhatsApp
                    </label>
                </fieldset>
                <button type="submit">
                    Prosseguir
                </button>
            </form>
        </div>
    </main>
</body>

</html>