<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=".css" rel="stylesheet">
    <script src=".js" type="text/javascript" defer></script>
    <title>Pluvia</title>
</head>

<body>
    <main>
        <div id="card">
            <h1>
                Pluvia
            </h1>
            <h4>
                Te alertando das enchentes
            </h4>
            <p>Um código foi enviado a seu sms
            whatsapp, por favor digite o código
            abaixo para confirmar a operação</p>
            <form action="">
                <label for="codigo">codigo:</label><br>
                <input type="num" id="codigo" name="codigo" placeholder="(01) 23456-7890" required>
                <br><br>
                <button type="submit">
                    confirmar
                </button>
            </form>
        </div>
    </main>
</body>

<script>
    
</script>
</html>