<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=".css" rel="stylesheet">
    <script src=".js" type="text/javascript" defer></script>
    <title>Pluvia</title>
</head>

<body>
    <main>
        <div id="card">
            <h1>
                Pluvia
            </h1>
            <h4>
                Te alertando das enchentes
            </h4>
            <p>Um código foi enviado a seu sms/</p>
            <p>whatsapp, por favor digite o código</p>
            <p>abaixo para confirmar a operação</p>
            <form action="">
                <label for="codigo">codigo:</label>
                <input type="num" id="codigo" name="codigo" placeholder="(01) 23456-7890" required>

                <fieldset>
                    <legend>Como deseja receber os alertas?</legend>
                    <label>
                        <input type="checkbox" name="alerta" value="sms">
                        SMS
                    </label>
                    <label>
                        <input type="checkbox" name="alerta" value="whatsapp">
                        WhatsApp
                    </label>
                </fieldset>
                <button type="submit">
                    Prosseguir
                </button>
            </form>
        </div>
    </main>
</body>

</html>